.main-container {
  background-color: #ffffff;
}

.outer-container {
  background-color: #ffcccc;
  margin-top: 10px;
  /* filter: brightness(100%); */
  /* display: flex; */
}
.title{
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}
.text-D{
  color: #7a7a7a;
}
.img-logo-link {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0px auto;
  filter: brightness(245%);
}

.img-logo {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0px auto;
}

.navbar {
  /* z-index: 1;
  position: fixed; */
  height: 60px;
  background-color: #bbbbbb;
  padding: 0 1rem;
  border-bottom: 1px solid white;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(60px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(60px * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button:hover {
  filter: brightness(0.7);
}

.dropdown {
  z-index: 2;
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: #DAEAF1;
  border: 1px solid white;
  border-radius: 15px;
  padding: 1rem;
  overflow: hidden;
}

.meun-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: background 500ms;
  padding: 0.5rem;
}
.meun-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CARD */
.card-div {
  margin-top: 15px;
  background-color: #f8f8f8;
  
}

.card-entire-container {
  display: inline-block;
  background-color: white;
  margin: 30px;
  border: 3px solid #ffcccc;
  border-radius: 10px;
  width: 204px;
  flex-direction: column;
  transition: 500ms;
}
.card-entire-container:hover {
  filter: brightness(0.8);
}

.card-img-container {
  height: 200px;
  display: flex;
}

.card-title {
  font-weight: 700;
  font-size: 30px;
  height: 50px;
  text-align: center;
  color: #6b6b6b;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-content {
  height: 45px;
  margin: 15px;
  text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #7a7a7a;
  font-size: 18px;
}
.beige-cap {
  height: 200px;
  border-radius: 15px;
  margin-left: 1px;
}

/* FOOTER */
.footer {
  height: 500px;
}

/* BANNER */
.banner-container {
  margin-top: 20px;
  width: 400vmax;
  transition: transform 0.5s;
}

.banner-img {
  width: 100vmax;
  float: left;
}
.banner-img img {
  width: 100%;
}

.banner-btn-container{
  text-align: center;
}
.btn {
  background-color: #afafaf;
  border: none;
  width: 30px;
  height: 7px;
  border-radius: 10px;
  margin: auto 5px;
  transition: 0.8s;
  cursor: pointer;
}
.btn:hover{
  background-color: #525357;
}